/* body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    height: 100vh;
} */

h1, h2 {
    text-align: center;
}

h1 {
    font-weight: 600;
    color: #007bff;
}

h2 {
    font-size: 1.75rem;
    color: #495057;

}

.form-control-range {
    width: 75%;
}

input {
    font-size: 1.25rem !important;
}

.passwordInput {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #fff;
    color: #495057;
    font-family: inherit;
    width: 65%;
}


label {
    font-size: 1.15rem;
    color: #495057;
}

.title {
    font-size: 1.5rem;
}